.header__menu
  a.active
    color: blue !important

.user__menu
  padding: 0
  > *
    padding: 5px 15px
    display: inline-block;

.user__menu-accounts
  background: #ededed;
  padding: 15px;
  width: 190px;
  a
    &.active
      pointer-events: none;
      color: #000
